.AllCollectionsCards {}

.AllCollectionsCards__Label {
    margin-right: 4px;
    margin-bottom: 4px;
}

.AllCollectionsCards__Card {
    padding: 4px;
    margin-bottom: 8px;
}

.AllCollectionsCards__Owners {
    padding: 4px;
}

.AllCollectionsCards__Trade {
    border: 1px solid #9999;
    margin-top: 4px;
}

.AllCollectionsCards__Link {
    color: var(--g-color-base-brand);
}
