.copyButton {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    z-index: 3;
    background-color: #fff;
}
