.filtersModal {
   padding: 16px 8px;
   height: 100%;
   max-height: 70vh;
   position: relative
}

.buttonRow {
    position: absolute;
    bottom: 16px;
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
}

.colorsCol_desktop {
    align-self: flex-end;
}

.setIcon {
    width: 15px;
}

.setSuggestItem {
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 4px 0;
}
